In [29]:
import pandas as pd

# Mostrando los datos
Vamos a cargar los datos de una compañía de bicicletas.

In [28]:
hour = pd.read_csv('D:\\cursos\\data_science\\data\\hour.csv')

Veámos una fracción de los datos con la función `head()`

In [31]:
hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,count
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

Podemos utilizar algunas funciones simpleas para medidas estadísticas como:
```python
median() # Mediana
mean() # Media
min() # Minimo
max() # Maximo
std() # Desviacion estandar
```
También es posible obtener un resumen estadístico con la funcion `describe()`. Mirando un resumen estadístico es fácil observar si hay errores obvios en las mediciones.

In [34]:
hour.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,count
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

Podemos seleccionar un *slice* de los datos utilizando brackets.

In [40]:
hour['count'].describe()

count    17379.000000
mean       189.463088
std        181.387599
min          1.000000
25%         40.000000
50%        142.000000
75%        281.000000
max        977.000000
Name: count, dtype: float64

## Subconjuntos de datos
`Subsetting` significa seleccionar subconjuntos de datos de un dataset. Se puede utiliza el atributo `loc` para seleccionar subconjuntos de datos.

In [47]:
hour.loc[0:10, 'registered']

0     13
1     32
2     27
3     10
4      1
5      1
6      0
7      2
8      7
9      6
10    24
Name: registered, dtype: int64

También podemos establecer condiciones lógicas. Aquí seleccionamos el número de individuos registrados durante la madrugada, y obtenemos el promedio.

In [51]:
hour.loc[hour['hr'] < 5, 'registered'].mean()

20.7881427367238

Se puden utilizar operadores lógicos tales como `&` o `|`. Aquí obtenemos los individuos registrados durante la madrugada, según la temperatura, y obtenemos el promedio:

In [55]:
hour.loc[(hour['hr'] < 5) & (hour['temp'] < 0.50), 'registered'].mean()

16.428869202709745

In [56]:
hour.loc[(hour['hr'] < 5) & (hour['temp'] > 0.50), 'registered'].mean()

26.005859375